#left{
	background-color: #35648B;
	position: fixed;
	float: left;
	height:100%;
	width: 30%;
	margin-top:0;
	margin-left:0;
}

#right{
	float: right;
	height:100%;
	width:80%;
	margin:auto;
}

#tag{
	margin-left:15%;
}

#submit{
	float:center;
	margin-left:25%;
	margin-right:25%;
  /*margin-left: auto;
  margin-right: auto;*/
}

h1{
	font-size: 1.3em;
	color:white;
	font-family: Cooper Black, Arial Black, Sans-Serif;
	text-align: center;
}

ul { 
	list-style-type: none; 
	text-align: center;
}

#submit{
text-align:center;
text-decoration: none;
font-family: sans-serif;
/*-webkit-font-smoothing: antialiased;*/
font-size: 1.1em;
color: #FFF;
background: lightgray;
padding: 10px 20px;
display: inline-block;
white-space: nowrap;
/*-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;*/
/*-webkit-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;*/
}
#submit:hover {
background: #0A948F;
}

img .insta{
	height: 200px;
	width: 200px;
	padding: 20px;
}

#menu{
	color: white;
}