#left{
	background-color: SteelBlue;
	position: fixed;
	float: left;
	height:100%;
	width: 20%;
	margin:auto;
}

#right{
	float: right;
	height:100%;
	width:80%;
	margin:auto;
}

input{
	float: center;
}

h1{

}

ul { list-style-type: none; }

img .insta{
	height: 200px;
	width: 200px;
	padding: 10px;
}