#left{
	background-color: Turquoise;
	position: fixed;
	float: left;
	height:100%;
	width: 20%;
	margin:auto;
}

#right{
	float: right;
	height:100%;
	width:80%;
	margin:auto;
}

h1{

}

img{
	height: 200px;
	width: 200px;
	padding: 20px;
}